{% extends 'base.html.twig' %}
{% block title %}{{parent()}}Hauts{% endblock %}
{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> HAUTS ET T-SHIRT </h1>



<div class="row justify-content-center pt-5">
    <div>
        <div class="card-group g-4 pt-4">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 g-4 pt-4">
        {%for p in produits%}
        <div class="col">
        <div class="card bg transparent pb-4" style="border-radius :25px">
        <div class="card body text-center" style="border-radius :30px">
        <a href="{{path('app_page_produit',{'nom':p.nom})}}" data-placement="bottom" data-toggle="tooltip" title="Aller sur la page de {{p.nom}}">
    	<img src="img/{{p.nom}}.jpg" class="card-img-top" alt="Image du jeu: {{p.nom}}" style="border-radius:30px">
            </a>
		</div>

			{% if p.prix == 0 %}
				<h6 class="card-footer text-center">GRATUIT</h6>
			{% else %}
				<h6 class="card-footer text-center">{{p.prix}} €</h6>
			{% endif %}




</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>




{% endblock %}