{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Accueil
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="text-center" id="hPage">
			<img src="img/banniere-ps5.jpg" alt="Bannière PS5" usemap="#image-map" class="img-fluid" style="max-width:100% height:auto"><br>
			<map name="image-map">
				<area shape="poly" coords="8,9, 128,9, 317,65, 301,76, 300,100, 315,108, 180,279, 8,215" href="https://www.amazon.fr/Console-PlayStation-5-Standard-Slim/dp/B0CLT54ZNZ/ref=sr_1_5?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1JC7AM9PORNU1&dib=eyJ2IjoiMSJ9.df8qNJP9Q2XrSHQSjqKQDgtR1O3cRdd13W64rIqSgcaTgehsorSfggDf3BGVkABJu94X2PMXxxzLykCS5pnYLODUP7NSnSZGvwHcrtlMWER-fY_npyzlIkJpcTIUkPxyz4NAPyavuDKFl8TM9gGLLw93bF3K76mLOr4-xkW1Jccof-B_gLWf2WIwRQb2sLtTm22osUMkETxx7sKhGD07paio-oEY3EgTRg1AUaSfqGC4imBuZKqAEgMfINxySB7w9LFjMWpIswfVoXRgUbf_5C7TUkHWYw_hYRNojEOZJBU.QVyLNOChfe5hZc9CdEAOEskQygHEKp0dGdWVr2cg_54&dib_tag=se&keywords=ps5&qid=1711095711&sprefix=ps5%2Caps%2C125&sr=8-5" title="Cliquez ici pour acheter une PS5 !">
				<area shape="circle" coords="673,229,30" href="https://www.amazon.fr/Sony-PlayStation-officielle-rechargeable-Compatible/dp/B094WLFGD3/ref=sr_1_5?crid=2ODWM4QIPT239&dib=eyJ2IjoiMSJ9.6yS28ZZ8Q5diOHE8CzO27NxB_sqT29aWGMW-SZFpcIkELyXE596uYlV6rloWLO1zCjLn09eyixBAY6VJGTR8BSxMC1M-Xtejr-6J-GMoUKu78F1UIpfgenBXSyGu4DpKmAs7AHGiu_selxE5FMIPe8-HA0LI40PflSPhflvbgmWliwI4kx6NOt1pgP7iOW5Tn4YWY10ZU69ej5jDveAnmT9BKxir3km3WkDsINqRn-T0eO72Lnr37E6TG4je9B1R2VWbSH-AxZoQom63BfPW-ck4sv6BCb6ZahxmPtZmBy0.RJSaJhMRgtWpkoE07KAwdggcM_i6PngIx7wP_ou_lt0&dib_tag=se&keywords=manette+ps5&qid=1711100922&sprefix=ma%2Caps%2C123&sr=8-5" title="Cliquez ici pour acheter une manette de PS5 !">
				<area shape="rect" coords="736,256, 838,25" href="https://www.amazon.fr/Console-PlayStation-5-Standard-Slim/dp/B0CLT54ZNZ/ref=sr_1_5?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1JC7AM9PORNU1&dib=eyJ2IjoiMSJ9.df8qNJP9Q2XrSHQSjqKQDgtR1O3cRdd13W64rIqSgcaTgehsorSfggDf3BGVkABJu94X2PMXxxzLykCS5pnYLODUP7NSnSZGvwHcrtlMWER-fY_npyzlIkJpcTIUkPxyz4NAPyavuDKFl8TM9gGLLw93bF3K76mLOr4-xkW1Jccof-B_gLWf2WIwRQb2sLtTm22osUMkETxx7sKhGD07paio-oEY3EgTRg1AUaSfqGC4imBuZKqAEgMfINxySB7w9LFjMWpIswfVoXRgUbf_5C7TUkHWYw_hYRNojEOZJBU.QVyLNOChfe5hZc9CdEAOEskQygHEKp0dGdWVr2cg_54&dib_tag=se&keywords=ps5&qid=1711095711&sprefix=ps5%2Caps%2C125&sr=8-5" title="Cliquez ici pour acheter une PS5 !">
			</map>
		</div>
		<h1 class="text-center text-primary mt-4 pt-4  fw-bold">
			Bienvenue sur PS5Playground !
		</h1>
		<h3 class="text-center text-secondary mt-4 pt-4  fw-bold">
			Acheter vos jeux PS5 ici à bas prix !
		</h3>
		<h5 class="text-center text-info mt-5 pt-5 fw-bold">
			Les jeux les plus populaires :
		</h5>
		<div id="carouselExampleIndicators" class="carousel slide mx-auto mt-4 pt-4 fw-bold" style="width:18rem">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/logo.png" class="card-img-top" alt="Image du site">
				</div>
				{% for j in jeux | sort((a,b)=> a.nom <=> b.nom) %}
					<div class="carousel-item">
						<a href="{{path('app_jeu',{'nom':j.nom})}}"><img style="border-radius:40px" src="img/{{j.nom}}.{{j.images[0].extension}}" class="card-img-top" alt="Image du jeu: {{j.nom}}"></a>
					</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<h4 class="text-center text-success mt-4 pt-4 fw-bold"> Nombre de jeux disponibles : {{jeux | length}}</h4>
		<h5 class="text-center text-primary mt-4 pt-4 fw-bold">
			Liste des jeux par catégorie</h5>
		<div class="row row-cols-2 row-cols-md-6 text-center pt-5">
			{% for c in categories | sort((a,b)=> a.libelle <=> b.libelle) %}
				<div class="col pt-3">
					<div class="d-grid gap-2">
						<a class="btn btn-primary" style="border-radius:50px" href="#{{c.libelle}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Aller vers {{c.libelle}}">
							{{c.libelle}}
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row justify-content-center pt-5">
			<div>
				{% for c in categories | sort((a,b)=> a.libelle <=> b.libelle) %}
					<div id="{{c.libelle}}">
						<h2 class"text-white">
							<strong>{{c.libelle | upper }}</strong>
						{% if c.jeuxes | length == 1 %}
							<strong class="text-secondary"> ({{c.jeuxes | length}} Jeu)</strong>
						{% elseif c.jeuxes | length == 0 %}
						{% else %}
							<strong class="text-secondary"> ({{c.jeuxes | length}} Jeux)</strong>
						{% endif %}
						</h2>
					</div>
					<div class"card-group g-4 pt-4">
						{% if c.jeuxes | length > 0 %}
						<div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 g-4 pt-4">
							{% for j in c.jeuxes | sort((a,b)=> a.nom <=> b.nom) %}
								<div class="col">
									<div class="card bg-transparent pb-4" style="border-radius:25px">
										<div class"card-body text-center" style="border-radius:30px">
											<a href="{{path('app_jeu',{'nom':j.nom})}}" data-placement="bottom" data-toggle="tooltip" title="Aller sur la page de {{j.nom}}">
												<img src="img/{{j.nom}}.{{j.images[0].extension}}" class="card-img-top" alt="Image du jeu: {{j.nom}}" style="border-radius:30px">
											</a>
										</div>
										{% if j.prix == 0 %}
											<h6 class="card-footer text-center">GRATUIT</h6>
										{% else %}
											<h6 class="card-footer text-center">{{j.prix}} €</h6>
										{% endif %}
										{% if is_granted('IS_AUTHENTICATED_FULLY') %}
											{% if j in app.user.aimer %}
												<a class="btn btn-danger" href="{{path('app_aimer',{'id':j.id})}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Supprimer des favoris">
													<i class="bi bi-heart-fill" title="Mettre en favori"></i>
												</a>
											{% else %}
												<a class="btn btn-danger" href="{{path('app_aimer',{'id':j.id})}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Ajouter aux favoris">
													<i class="bi bi-heart" title="Mettre en favori"></i>
												</a>
											{% endif %}	
											{% if app.user.panier != null %}
												{% set verif = false %}
												{% for panier in app.user.panier.ajouters %}
													{% if panier.jeux == j %}
														{% set verif = true %}
													{% endif %}
												{% endfor %}
												{% if verif %}
													<a class="btn btn-warning" href="{{path('app_supp_panier_accueil',{'id':j.id})}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Supprimer du panier">
														<i class="bi bi-cart-x-fill" title="Ajouter au panier"></i>
													</a>
												{% else %}
													<a class="btn btn-success" href="{{path('app_ajout_panier',{'id':j.id})}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Ajouter au panier">
														<i class="bi bi-cart" title="Ajouter au panier"></i>
													</a>
												{% endif %}
											{% else %}
												<a class="btn btn-success" href="{{path('app_ajout_panier',{'id':j.id})}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Ajouter au panier">
													<i class="bi bi-cart" title="Ajouter au panier"></i>
												</a>
											{% endif %}											
										{% else %}
											<a class="btn btn-danger" href="{{path('app_aimer',{'id':j.id})}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Ajouter aux favoris">
												<i class="bi bi-heart" title="Mettre en favori"></i>
											</a>
											<a class="btn btn-success" href="{{path('app_ajout_panier',{'id':j.id})}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Ajouter au panier">
												<i class="bi bi-cart" title="Ajouter au panier"></i>
											</a>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						{% else %}
							<h3 class="text-center text-danger">!! Aucun jeu pour cette catégorie !!</h3>
						{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="sticky-bottom justify-content-end">
			<a style="position:absolute;bottom:350px;right:5px;margin:0;padding:5px;" class="btn btn-primary-outline btn-lg" href="#hPage" role="button" data-placement="bottom" data-toggle="tooltip" title="Retourner en haut de la page">
				<i class="bi bi-arrow-up-circle-fill"></i>
			</a>
		</div>
	</div>
{% endblock %}
